Hello APS!

Rules:
1) You can post whatever you want related to APS
2) If you are going to add memes please don't mix them with serious documents
3) Don't worry about modifying a document, Github allows you to rollback if something goes wrong
4) Have fun sharing knowledge!!
5) Listen to what Kelly has to say.